.menu__svg, .mailing__btn, .mailing__input, .footer__contact, .footer-soc__link, .footer__link, .projects__link, .projects__btn, .modal__cross-svg, .modal__submit-btn, .modal__terms-title span, .modal__textarea, .modal__input-svg, .modal__input, .client__svg, .client__link, .team-soc__svg, .team-soc__link, .hero__btn, .contacts__svg, .contacts__link, .page-nav__link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc__link, .footer-soc__list, .projects__overflow, .modal__close-btn, .modal__terms-title span, .modal__terms-title, .client__link, .team-soc__link, .team-soc, .direction__desc, .features__design {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mailing__container, .mailing, .footer__list, .footer-soc, .footer__address-container, .footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo, .logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .footer__logo, .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 1000%;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 0px;
  height: 0px;
  overflow: hidden;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  margin-right: 93px;
  padding: 15px 0px;
}

.footer__logo {
  margin-bottom: 20px;
}
@media screen and (min-width: 786px) {
  .footer__logo {
    margin-bottom: 0;
  }
}

.studio {
  color: #000000;
}

.footer__studio {
  color: #ffffff;
}

.page-header .container {
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: space-around;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-nav__list {
    display: flex;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}

.page-nav {
  margin-right: auto;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 50px;
         column-gap: 50px;
    padding: 0;
  }
}

.contacts__item {
  margin-bottom: 10px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-bottom: 0;
  }
}

.page-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  padding: 32px 0px;
  transition-property: color;
}
.page-nav__link:hover, .page-nav__link:focus {
  color: #2196f3;
}

.page-nav__link--active {
  color: #2196f3;
}

.page-nav__item--active {
  position: relative;
}
.page-nav__item--active::after {
  content: "";
  display: block;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  transition-property: color;
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding: 32px 0px;
  }
}

.contacts__svg {
  fill: #757575;
  padding-right: 10px;
  transition-property: fill;
}
.contacts__link:hover .contacts__svg, .contacts__link:focus .contacts__svg {
  fill: currentColor;
}

.hero__container {
  width: 100%;
  padding: 118px 0;
  margin: 0px auto;
  text-align: center;
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  width: 100%;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  padding: 10px 24px;
  transition-property: background-color;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.features__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.features__title {
  font-size: 36px;
  font-size: 14px;
  line-height: 1.16;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.features__item {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 270px;
  }
}

.features__design {
  background-color: #f5f4fa;
  max-width: 450px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__design {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__design {
    max-width: 270px;
  }
}

.features__subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.direction {
  display: none;
  padding-top: 0px;
}
@media screen and (min-width: 1200px) {
  .direction {
    display: block;
  }
}

.direction__pic {
  display: block;
  max-width: 100%;
  height: auto;
}

.direction__thumb {
  position: relative;
}

.direction__desc {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.direction__subtitle {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.direction__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.direction__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.team {
  background: #f5f4fa;
}

.team__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    max-width: 270px;
  }
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__desc {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-soc {
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.team-soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition-property: background-color;
}
.team-soc__link:hover, .team-soc__link:focus {
  background-color: #2196f3;
}

.team-soc__svg {
  fill: #afb1b8;
  transition-property: fill;
}
.team-soc__link:hover .team-soc__svg, .team-soc__link:focus .team-soc__svg {
  fill: #ffffff;
}

.team__card {
  padding-top: 30px;
  padding-bottom: 24px;
}

.client__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.client__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.client__item {
  flex-basis: 100%;
  height: 92px;
}
@media screen and (min-width: 480px) {
  .client__item {
    flex-basis: calc(50% - 15px);
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.client__link {
  height: 100%;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color, border;
}
.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
}

.client__svg {
  fill: #afb1b8;
  transition-property: fill;
}
.client__link:hover .client__svg, .client__link:focus .client__svg {
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__input-field {
  margin-bottom: 10px;
}

.modal__title {
  width: 370px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    width: 448px;
    height: 23px;
  }
}

.modal__input-title {
  display: block;
  width: 22px;
  height: 14px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal__input {
  height: 40px;
  width: 370px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: outline-color;
}
.modal__input:focus {
  outline-color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .modal__input {
    width: 448px;
  }
}

.modal__input-wrap {
  position: relative;
}

.modal__input-svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
}
.modal__input:focus + .modal__input-svg {
  fill: #2196f3;
}

.textarea-field {
  margin-bottom: 20px;
}

.modal__textarea {
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition-property: outline-color;
}
.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:focus {
  outline-color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .modal__textarea {
    width: 448px;
  }
}

.modal__check-svg {
  fill: #ffffff;
}

.modal__field-terms {
  display: block;
  text-align: center;
}

.modal__terms-title {
  height: 14px;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .modal__terms-title {
    font-size: 14px;
    height: 24px;
  }
}

.modal__terms-link {
  color: #2196f3;
}

.modal__terms-title span {
  width: 16px;
  height: 15px;
  border: 1.5px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  transition-property: border, background-color;
}
.modal__terms-title span:hover {
  cursor: pointer;
}

.modal__checkbox:checked + .modal__terms-title span {
  background-color: #2196f3;
  border: none;
}

.modal__submit-btn {
  display: block;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin: 0 auto;
  transition-property: background-color;
}
.modal__submit-btn:hover, .modal__submit-btn:focus {
  background-color: #188ce8;
}

.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__cross-svg {
  fill: #000000;
  transition-property: fill;
}
.modal__close-btn:focus .modal__cross-svg, .modal__close-btn:hover .modal__cross-svg {
  fill: #2196f3;
}

.projects__btn-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .projects__btn-list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .projects__btn-list {
    margin-bottom: 50px;
  }
}

.projects__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  color: #212121;
  background: #f5f4fa;
  border: none;
  padding: 6px 25px;
  border-radius: 4px;
  transition-property: color, box-shadow, background-color;
}
.projects__btn:hover, .projects__btn:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 1200px) {
  .projects__btn {
    padding: 6px 22px;
  }
}

.projects__link {
  display: flex;
  flex-direction: column;
  transition-property: box-shadow;
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__thumb {
  overflow: hidden;
  position: relative;
}
.projects__thumb::before {
  content: "";
  display: inline-block;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__card:hover .projects__thumb::before {
  transform: translateY(0);
}

.projects__overflow {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__card:hover .projects__overflow {
  transform: translateY(0);
}

.projects__overflow-desc {
  font-size: 18px;
  width: 402px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .projects__overflow-desc {
    width: 306px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__overflow-desc {
    width: 322px;
  }
}

.projects__item {
  display: flex;
}

.projects__pic {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.projects__grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.projects__card-box {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

.projects__card {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .projects__card {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__card {
    max-width: 370px;
  }
}

.projects__subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.projects__desc {
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background: #2f303a;
  padding: 60px 0px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__address-container {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__address-container {
    margin-right: 70px;
    margin-bottom: 0;
    align-items: flex-start;
  }
}

.footer__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: color;
}
.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

.footer-soc {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-soc {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    display: inline-block;
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.footer-soc__list {
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.footer-soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: #2196f3;
}

.footer-soc__svg {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__list {
    margin-top: 20px;
    align-items: flex-start;
  }
}

.footer__contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
}
.footer__contact:hover, .footer__contact:focus {
  color: #2196f3;
}

.footer-soc__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.mailing__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .mailing {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .mailing__container {
    flex-direction: row;
  }
}

.mailing__input {
  width: 450px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  padding: 15px 16px;
  margin-bottom: 20px;
  transition-property: outline-color;
}
.mailing__input:focus {
  outline-color: #2196f3;
}
.mailing__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .mailing__input {
    margin-bottom: 0;
    width: 358px;
  }
}

.mailing__btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin: 0 auto;
  transition-property: background-color;
}
.mailing__btn:hover, .mailing__btn:focus {
  background-color: #188ce8;
}

.mailing__svg {
  fill: #ffffff;
  margin-left: 10px;
}

.page-header__menu-toggle {
  display: block;
  border: none;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .page-header__menu-toggle {
    display: none;
  }
}

.menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__close-btn {
  position: absolute;
  right: 25px;
  top: 21px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.menu__svg {
  fill: #000000;
  transition-property: fill;
}
.modal__close-btn:focus .menu__svg, .modal__close-btn:hover .menu__svg {
  fill: #2196f3;
}

.menu__item {
  margin-bottom: 35px;
}
.menu__item:last-child {
  margin-bottom: 0;
}

.menu__link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
}
.menu__link--active {
  color: #2196f3;
}

.menu-contacts__item {
  margin-bottom: 32px;
}
.menu-contacts__item:last-child {
  margin-bottom: 0;
}

.menu-contacts__tel {
  color: #2196f3;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.menu-contacts__mail {
  color: currentColor;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.menu-soc {
  display: flex;
  gap: 10px;
}

.menu-soc__item {
  padding-right: 10px;
  height: 20px;
  border-right: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
}
.menu-soc__item:last-child {
  border: none;
}

.menu-soc__link {
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.29;
  letter-spacing: 0.02em;
}/*# sourceMappingURL=main.css.map */