html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.section {
  padding: 60px 0px;
  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
}
